@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body{
	margin: 0;padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.red{
	color:red;
}

#header{
	position: absolute;
	margin: 0;padding: 0;
	background: rgba(0,0,0,0.6);
	width: 100%;
	z-index: 2;
}

#header h1 a{
	font-size: 40px;	
	color: red;
	text-decoration:none;
	float: left;
	margin-left:40px;
	margin-bottom: 5px;
	margin-top: -10px;
}

#header #navbar ul{
	margin: 0;padding: 0;
	float: right;
	display: flex;
	margin-right: 20px;
}

#header #navbar ul li{
	list-style: none;
}

#header #navbar ul li a{
	display: block;
	padding: 7px 20px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;	
}

.link{
	background:red;
	opacity: 1;
	border-radius:5px; 
	color:white;
}

section{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}

section.sec1{
	background: url(background/back3.jpg);
	background-size: cover;
	background-attachment: fixed;
}

/****************************************************************************************************************/
/****************************************************************************************************************/

section.sec4{
	background: url(background/back4.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.loginbox,.registerbox{
	width: 320px;
	height: 430px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	left: 50%;
	top: 55%;
	position: absolute;
	border-radius: 10px;
	box-sizing: border-box;
	transform: translate(-50%,-50%);
	padding: 60px 30px;
}

.avatar
{
	width: 100px;
	height: 100px;
	position: absolute;top: -50px;
	left: calc(50% - 50px);
}

.loginbox h1{
	color: red;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 20px;
}

.loginbox p{
	margin: 0;padding: 0;
	font-weight: bold;
}

.loginbox input,.registerbox input{
	width: 100%;
	margin-bottom:15px; 
}

.loginbox input[type="email"],.loginbox input[type="password"],#registerinput{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;	
	color: #fff;
	font-size: 14px;
}

.loginbox input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;	
	background: #fb2020;
	opacity: 0.9;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}	

.loginbox input[type="submit"]:hover,.registerbox input[type="submit"]:hover{
	background:rgba(255,255,255,0.8);
	color: red;
	font-weight: bold;
	cursor: pointer;
}

.loginbox a,.registerbox a{
	color: darkgrey;
	font-size: 12px;
	width: 100%;
	position: relative;
	top:-10px;  
	text-align: right;
}
.loginbox a:hover,.registerbox a:hover{
	color:red;
}

#icon{
	float: right;
	position:relative;
	top:-45px;
	left: -5px;
	padding: 4px 0 4px 5px;
	border-left: 1px solid grey;
}
/****************************************************************************************************************/
/****************************************************************************************************************/

.registerbox{
	width:65%;
	height: 420px;
	margin:15px 0 0 0;
}

.regbox{
	margin: 0;padding: 0;
	padding-bottom: 5px;
	width: 49%;
	text-align: center;
}

.left{
	float: left;
}
.right{
	float: right;
	margin-left: 0px;
	border-left: 1px solid red;
}
.clear{
	float:left;width: 100%;
}

.registerbox input{
	width: 75%;
	margin-bottom:10px;
	padding: 0 0 0 10px;
}

.regbox select{
	width: 77%;
	color: white;
	text-align-last:center;
}
.regbox select option{
	color: black;
	text-align-last: center;
}

.registerbox input[type="submit"]{
	width: 15%;
	border:none;
	margin-top: 10px;	
	height: 35px;	
	background: #fb2020;
	opacity: 0.9;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}	
/****************************************************************************************************************/
/****************************************************************************************************************/

.indexbox{
	width: 1200px;
	height: 500px;
	text-align: center;
	text-transform: uppercase;
	left: 50%;
	top: 50%;
	position: absolute;
	box-sizing: border-box;
	transform: translate(-50%,-50%);
	padding: 70px 30px;
	font-family: serif;
	color: white;
}

.indexbox p{
	color: black;
	font-size: 40px;
	font-weight: bold;
}
.indexbox h2{
	margin-top:-10px;
	margin-bottom: 110px;
	font-size: 80px;
	color: black;
	text-shadow: 2px 2px white;
}

.indexbox ul{
	display: flex;	
}

.indexbox ul li {
	list-style: none;
}

.indexbox ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14px;	
}

.btn{
	cursor: pointer;
	padding: 15px;
	margin:20px;
	border-radius: 5px;
	font-size: 16px;	
	text-decoration: none;
	background: red;
	color:white;
}

@media screen and (max-width:750px){
  .indexbox p{font-size: 100%;}
  .indexbox h2{font-size: 175%;}
  .btn{padding: 5px;margin:5px;font-size: 15px;} 
}


.inverse{
	cursor: pointer;
	background:white;
	color: red;
}

.btn:hover{
	background:white;
	color: red;
}
.inverse:hover{
	background: red;
	color:white;
}

/****************************************************************************************************************/
/****************************************************************************************************************/

section.sec2{
padding: 40px;
height: 90vh;
}

section.sec2 h1{
	margin: 0;
	margin-bottom:20px; 
	padding: 0;
	font-size: 50px;
	color: #262626;
}

.job
{
	background: lightgrey;
	border:1px solid grey;
	width: 300px;
	display: block;
	border-radius: 5px;
	float: left;
	padding: 20px;
	margin: 20px;
	margin-left: 70px;
	box-sizing: border-box;
	font-family:serif;
}

.job:hover{
	background: rgba(255,0,0,0.8);
	transition: 0.8s;
	color: white;
	box-shadow: 4px 4px grey;
	font-weight: bold;
}

@media screen and (max-width:750px){
.job{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;	box-sizing: border-box;	padding: 5px;}
section.sec2{height: auto;}

}

.job img {
	background: white; 
	width: 60px; 
	height: 60px;
}

.job h2{
margin-bottom: 2px;
}

.job p{
margin: 0;padding: 10px 0 0 15px;
}


/****************************************************************************************************************/
/****************************************************************************************************************/

section.sec3{
	background: url(background/back2.jpg);
	background-size: auto;
	background-attachment: fixed;
	padding: 10px;margin-bottom:0px;
}

section.sec3 h1{
	margin: 0px;
	padding-left: 10px;
	font-size: 50px;
	color: white;
}

.contactbox{
	width:65%;
	height: 420px;
	margin:0;
	background: rgba(0,0,0,0.8);
	color: #fff;
	left: 50%;
	top: 40%;
	position: relative;
	border-radius: 20px;
	box-sizing: border-box;
	transform: translate(-50%,-50%);
}

.cont-left{
	float: left;
	padding: 0;
	margin: 0;
	background:rgba(255,0,0,0.6);
	width: 49%;
	height:420px;
	border-radius: 10px 0px 0px 10px;
}
.cont-left h3{
	left: 65%;
	top: 38%;
	color: lightgrey;
	font-family: monospace;
	position: relative;
	transform: translate(-50%,-50%);
	font-size: 40px;
}

.cont-right{
	float: right;
	padding-top: 40px;
	margin:0;
	width: 49%;
	height:420px;
	border-radius: 0px 10px 10px 0px;
}

#contactinput{
	width: 85%;	
	padding: 10px;
	border-radius: 10px;
	border:2px inset red;
	margin-bottom:20px;
	font-size: 14px;
}

.contbtn{
	width: 100px;
	height: auto;
	padding: 5px;
	float: right;
	margin-right: 40px;
	border-radius: 5px;
	background: red;
	font-weight: bold;
	color: white;
	font-size: 15px;
}

/****************************************************************************************************************/
/****************************************************************************************************************/

section.sec5{
	padding: 40px;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	padding: 0;margin: 0;
	/*margin-top: 20px;*/
}

.about{
	padding: 0 120px 0 120px;
	text-align: center;
}
@media screen and (max-width:750px){
.about{padding: 10px;}
}
.team{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 300px;
	background: #fff;
	position: absolute;
}
.teamcol{
	position: relative;
	width: 20%;
	height: 360px;
	float: left;
	text-align: center;
}
.teamimg {
	overflow: hidden;
}
.teamimg img{
	width:100%;
	height: 100%; 	
	transition: 1s;
}

.teamcol .teamdetails{
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 105px;	
	text-align: center;
	background: white;
	transition: .3s;
	transform: scale(0.5);
	visibility: hidden;
}

.teamcol:hover .teamdetails{
	transform: scale(1);
	visibility: visible;
}

.teamdetails h1{
font-size: 20px;
margin: 20px 0 10px 0;
color: #262626;
text-transform: uppercase;
}

.teamdetails span{
margin-top: 30px;
font-size: 14px;
color: rgba(0,0,0,0.7);
margin-bottom: 20px;
}

.teamcol .teamdetails ul
{
	position: relative;
	top: 20px;
	display: flex;
	text-align: center;
	width: 100%;
	transform: translateY(50px);
	transition: 0.5s;
	opacity: 0;
}
.teamcol:hover .teamdetails ul{
	transform: translateY(0px);
	opacity: 1;
}
.teamdetails ul li{
	list-style: none;
	width: 25%;
}
.teamdetails ul li:nth-child(1) a:hover{
	background: #3b5998;
}
.teamdetails ul li:nth-child(2) a:hover{
	background: #d34836;
}
.teamdetails ul li:nth-child(3) a:hover{
	background: #3f729b;
}

.teamdetails ul li a{
	display: block;
	color: #262626;
	width: 36px;
	height: 36px;
	line-height: 33px;
	box-sizing: border-box;
	border-radius: 50%;
	border:1px solid #262626;
}
.teamdetails ul li a:hover{
	background: red;
	color: #fff;
	border:0px;
}

@media screen and (max-width:750px){
.team{width: 50%;position: absolute;transform: translate(50%);}
.teamcol{width: 100%;height: 50%;overflow: hidden;margin:10px;}
.teamdetails{width: 90%;height: 90%;}
.teamdetails h1{font-size: 80%;margin:0;padding: 0;}
.teamdetails span{font-size: 65%;color: black;}
.teamdetails ul{width: 90%;margin: 0;padding: 0;display: none;position: absolute;left:15%;text-align: center;}
#hide{width: 0;height: 0;}
}