@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body{
	margin: 0;padding: 0;
	font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar{width: 8px;}
::-webkit-scrollbar-thumb{background: rgba(255,0,0,0.7);}
::-webkit-scrollbar-track{background: lightgrey;}

.red{
	color:red;
}

#header{
	position: absolute;
	margin: 0;padding: 0;
	background: rgba(0,0,0,0.6);
	width: 100%;
}

#header h1 a{
	font-size: 40px;	
	color: #1abc9c;
	text-decoration:none;
	float: left;
	margin-left:40px;
	margin-bottom: 5px;
	margin-top: -10px;
}

#header #navbar ul{
	margin: 0;padding: 0;
	float: right;
	display: flex;
	margin-right: 20px;
}
#header #navbar ul li a:hover{
	color: white;
	border-radius: 5px;
	font-size:16px;
}
#header #navbar ul li{
	list-style: none;
}

#header #navbar ul li a{
	display: block;
	padding: 7px 20px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;	
}

.link{
	background:red;
	opacity: 1;
	border-radius:5px; 
	color:white;
}

.dropbtn {
	padding: 7px 20px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	background:transparent;
	border: 0;
	font-family: 'Open Sans', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: lightgrey;color: red;font-weight: bolder}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: red;
}

section{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}

section.sec1{
	background: url(background/back5.jpg);
	background-size: cover;
	background-attachment: fixed;
}

/****************************************************************************************************************/
/****************************************************************************************************************/

section.sec4{
	background: url(background/back4.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.loginbox,.registerbox{
	width: 600px;
	height: 450px;
	background: rgba(0,0,0,0.9);
	color: #fff;
	left: 50%;
	top: 55%;
	position: absolute;
	border-radius: 10px;
	box-sizing: border-box;
	transform: translate(-50%,-50%);
	padding: 60px 30px;
	box-shadow: 0 5px 8px 0 rgba(255,0,0,0.2),0 7px 20px 0 rgba(255,0,0,0.17);	
	animation-name: modalopen;
	animation-duration: 1s;
}

.avatar
{
	width: 100px;
	height: 100px;
	position: absolute;top: -50px;
	left: calc(50% - 50px);
}

.loginbox h1{
	color: red;
	text-transform: capitalize;
	text-align: center;
	padding: 0 0 20px;
}

.loginbox p{
	margin: 0;padding: 0;
	font-weight: bold;
}

.loginbox input,.registerbox input{
	width: 100%;
	margin-bottom:15px; 
}

.loginbox input[type="email"],.loginbox input[type="password"],#registerinput{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;	
	color: #fff;
	font-size: 14px;
}

.loginbox input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;	
	background: #fb2020;
	opacity: 0.9;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
	width: 47%;
}	
#btn2
{
float: right;
background: white;
color: red;
}
.loginbox input[type="submit"]:hover,.registerbox input[type="submit"]:hover{
	font-weight: bold;
	cursor: pointer;
}

.loginbox a,.registerbox a{
	color: darkgrey;
	font-size: 12px;
	width: 100%;
	position: relative;
	top:-10px;  
	text-align: right;
}
.loginbox a:hover,.registerbox a:hover{
	color:red;
}

#icon{
	float: right;
	position:relative;
	top:-45px;
	left: -5px;
	padding: 4px 0 4px 5px;
	border-left: 1px solid grey;
}
/****************************************************************************************************************/
/****************************************************************************************************************/

.registerbox{
	width:65%;
	height: 420px;
	margin:15px 0 0 0;
}

.regbox{
	margin: 0;padding: 0;
	padding-bottom: 5px;
	width: 49%;
	text-align: center;
}

.left{
	float: left;
}
.right{
	float: right;
	margin-left: 0px;
	border-left: 1px solid red;
}
.clear{
	float:left;width: 100%;
}

.registerbox input{
	width: 75%;
	margin-bottom:10px;
	padding: 0 0 0 10px;
}

.regbox select{
	width: 77%;
	color: white;
	text-align-last:center;
}
.regbox select option{
	color: black;
	text-align-last: center;
}

.registerbox input[type="submit"]{
	width: 15%;
	border:none;
	margin-top: 10px;	
	height: 35px;	
	background: #fb2020;
	opacity: 0.9;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}	
/****************************************************************************************************************/
/****************************************************************************************************************/

.indexbox{
	width: 1200px;
	height: 500px;
	text-align: center;
	text-transform: uppercase;
	left: 50%;
	top: 50%;
	position: absolute;
	box-sizing: border-box;
	transform: translate(-50%,-50%);
	padding: 70px 30px;
	font-family: serif;
	color: white;
}
@import url('https://fonts.googleapis.com/css?family=Anton');

.indexbox p{
	font-family: 'Anton', sans-serif;
	color: white;
	font-size: 40px;
	width: inherit;
	font-weight: bold;
}
.indexbox h2{
	font-family: 'Anton', sans-serif;
	margin-top:-10px;
	margin-bottom: 110px;
	width: inherit;
	font-size: 80px;
	color: white;
}

.indexbox ul{
	display: flex;	
}

.indexbox ul li {
	list-style: none;
}

.indexbox ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14px;	
}

.btn{
	cursor: pointer;
	padding: 15px;
	margin:20px;
	border-radius: 5px;
	font-size: 16px;	
	text-decoration: none;
	background: red;
	color:white;
}

@media screen and (max-width:750px){
  .indexbox p{font-size: 100%;}
  .indexbox h2{font-size: 175%;}
  .btn{padding: 5px;margin:5px;font-size: 15px;} 
}


.inverse{
	cursor: pointer;
	background:white;
	color: red;
}

.btn:hover{
	background:white;
	color: red;
}
.inverse:hover{
	background: red;
	color:white;
}

/****************************************************************************************************************/
/****************************************************************************************************************/

section.sec2{
padding: 40px;
height: 90vh;
background: rgba(0,0,0,0.9);
}

section.sec2 h1{
	margin: 0;
	margin-bottom:20px; 
	padding: 0;
	font-size: 50px;
	color: #fff;
}

.job
{
	background: lightgrey;
	border:1px solid grey;
	width: 300px;
	display: block;
	border-radius: 5px;
	float: left;
	padding: 20px;
	margin: 20px;
	margin-left: 70px;
	box-sizing: border-box;
	font-family:serif;
}

.job:hover{
	background: rgba(255,0,0,0.8);
	transition: 0.8s;
	color: white;
	box-shadow: 4px 4px grey;
	font-weight: bold;
}

@media screen and (max-width:750px){
.job{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;	box-sizing: border-box;	padding: 5px;}
section.sec2{height: auto;}

}

.job img {
	background: white; 
	width: 60px; 
	height: 60px;
}

.job h2{
margin-bottom: 2px;
}

.job p{
margin: 0;padding: 10px 0 0 15px;
}


/****************************************************************************************************************/
/****************************************************************************************************************/

section.sec3{
	background: url(background/back3.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 10px;margin-bottom:0px;
}

section.sec3 h1{
	margin: 0px;
	padding-left: 10px;
	font-size: 50px;
	color: #000;
}

.contactbox{
	width:65%;
	height: 420px;
	margin:0;
	background: rgba(0,0,0,0.8);
	color: #fff;
	left: 50%;
	top: 40%;
	position: relative;
	border-radius: 20px;
	box-sizing: border-box;
	transform: translate(-50%,-50%);
}

.cont-left{
	float: left;
	padding: 0;
	margin: 0;
	background:rgba(255,0,0,0.6);
	width: 49%;
	height:420px;
	border-radius: 10px 0px 0px 10px;
}
.cont-left h3{
	left: 65%;
	top: 38%;
	color: lightgrey;
	font-family: monospace;
	position: relative;
	transform: translate(-50%,-50%);
	font-size: 40px;
}

.cont-right{
	float: right;
	padding-top: 70px;
	margin:0;
	width: 49%;
	height:420px;
	border-radius: 0px 10px 10px 0px;
}
.cont-right h2{
	position: absolute;
	top: -10px;
	color: red;
}
#contactinput{
	width: 85%;	
	padding: 10px;
	border-radius: 10px;
	border:2px inset red;
	margin-bottom:20px;
	font-size: 14px;
}

.contbtn{
	width: 100px;
	height: auto;
	padding: 5px;
	float: right;
	margin-right: 40px;
	border-radius: 5px;
	background: red;
	font-weight: bold;
	color: white;
	font-size: 15px;
}

/****************************************************************************************************************/
/****************************************************************************************************************/

section.sec5{
	padding: 40px;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	padding: 0;margin: 0;
	/*margin-top: 20px;*/
}

.about{
	padding: 0 120px 0 120px;
	text-align: center;
}
.about h1{font-size: 50px;margin-bottom: 10px;}
.about h2{font-size: 30px;}
.about p{font-size: 18px;}

@media screen and (max-width:750px){
.about{padding: 10px;}
}
.team{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 300px;
	background: #fff;
	position: absolute;
}
.teamcol{
	position: relative;
	width: 20%;
	height: 360px;
	float: left;
	text-align: center;
}
.teamimg {
	overflow: hidden;
}
.teamimg img{
	width:95%;
	height: 95%; 	
	transition: 1s;
	border-radius: 50%;
}

.teamcol .teamdetails{
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 120px;	
	text-align: center;
	background: white;
	transition: .3s;
	transform: scale(0.5);
	visibility: hidden;
	border-radius: 50%;
}

.teamcol:hover .teamdetails{
	transform: scale(1);
	visibility: visible;
}

.teamdetails h1{
font-size: 20px;
margin: 50px 0 10px 0;
color: #262626;
text-transform: uppercase;
}

.teamdetails span{
margin-top: 30px;
font-size: 14px;
color: rgba(0,0,0,0.7);
margin-bottom: 20px;
}

.teamcol .teamdetails ul
{
	position: relative;
	top: 20px;
	display: flex;
	text-align: center;
	width: 100%;
	transform: translateY(50px);
	transition: 0.5s;
	opacity: 0;
}
.teamcol:hover .teamdetails ul{
	transform: translateY(-15px);
	opacity: 1;
}
.teamdetails ul li{
	list-style: none;
	width: 25%;
}
.teamdetails ul li:nth-child(1) a:hover{
	background: #3b5998;
}
.teamdetails ul li:nth-child(2) a:hover{
	background: #d34836;
}
.teamdetails ul li:nth-child(3) a:hover{
	background: #3f729b;
}

.teamdetails ul li a{
	display: block;
	color: #262626;
	width: 36px;
	height: 36px;
	line-height: 33px;
	box-sizing: border-box;
	border-radius: 50%;
	transition: .5s;
	border:1px solid #262626;
}
.teamdetails ul li a:hover{
	background: red;
	color: #fff;
	border:0px;
}

@media screen and (max-width:750px){
.team{width: 50%;position: absolute;transform: translate(50%);}
.teamcol{width: 100%;height: 65%;overflow: hidden;margin:10px;}
.teamdetails{width: 90%;height: 90%;}
.teamdetails h1{font-size: 80%;margin:0;padding: 0;}
.teamdetails span{font-size: 65%;color: black;}
.teamdetails ul{width: 90%;margin: 0;padding: 0;display: none;position: absolute;left:15%;text-align: center;}
.teamimg img{width:60%;height: 60%;}
#hide{width: 0;height: 0;}
}

/****************************************************************************************************************/
/****************************************************************************************************************/

.teamclear{
	background: white;
	width: 100%;
	min-height: 270px;
}
@media screen and (max-width:750px){
.teamclear{min-height:700px;} 
}

section.sec6{
	background: url(background/back3.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 50px;
	height: 60vh;
}


.footleft{
	float:left;
	width: 300px;
	color: white;
	/*background: rgba(0,0,0,0.8);*/
	border-radius: 5px;
	padding: 10px;
}
.footleft h1{
	color: black;
	font-size: 30px;
	margin-top: 50px;
}
.footleft p{
	color: white;
	font-weight: bolder;
}
@media screen and (max-width:750px){
.footleft{width:200px;}
.footright{width: 40px;}
section.sec6{height: 130vh;}

}
.footright{
	transform: translateY(50px);	
	float:right;
	padding: 10px 40px 10px 40px;
	margin-top: 20px;
}
.footright p{
	color: white;
	position: absolute;
	top: -30px;
	left: 80px;
	font-weight: bold;
}
.footright ul{
	color: white;
	list-style: square;
	padding-left: 5px;
}
.footright ul li{
	padding: 5px 120px 10px 0;
	border-bottom: 1px solid grey;
}
.footright ul li a{
	color: grey;
	font-size: 14px;
	font-weight: bolder;
	text-decoration: none;
}
.footright ul li a:hover{
	color: red;
}
@media screen and (max-width:750px){
.footright{float: left;}
}

/****************************************************************************************************************/
/****************************************************************************************************************/

.button{background: red;color:white;padding: 1em 2em;border:0;
		border-radius: 5px;cursor: pointer;margin-left: 10px;}	
.modal{
	display: none;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background: rgba(0,0,0,0.5);
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);	
	animation-name: modalopen;
	animation-duration: 1s;
}
.modal-content{
	background: #f4f4f4;
	margin: 10% auto;
	padding: 10px;
	width: 50%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);	
	animation-name: modalopen;
	animation-duration: 1s;
}
@keyframes modalopen{
	from{opacity: 0}
	tl{opacity: 1}
}
#closebtn{
	color: #ccc
	float: right;
	font-size: 30px;
}
#closebtn:hover{
	color: red;
	text-decoration: none;
	cursor: pointer;
}

/****************************************************************************************************************/
/****************************************************************************************************************/